Repository mklocker/hello-github-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, workflowflow_changes

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

workflowflow_changes:
- any: ['.github/workflows/**/*']

Update README.md
  README.md
Labels: repo

Update ruby.yml
  .github/workflows/ruby.yml
Labels: workflowflow_changes

Added test comment
  app/models/application_record.rb
Labels: none

feat/test-branch: Added more comment
  app/models/application_record.rb
Labels: none

feat/test-branch: Added 2 test words
  README.md
Labels: repo

feat/test-branch: scaffolded fake endpoint for successful test pass
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  app/controllers/posts_controller.rb
  app/models/post.rb
  config/boot.rb
  config/routes.rb
  db/migrate/20230809003730_create_posts.rb
  db/schema.rb
  test/controllers/posts_controller_test.rb
  test/fixtures/posts.yml
  test/models/post_test.rb
Labels: repo, workflowflow_changes

feat/test-branch: Added the GIT ignore file
  .gitignore
Labels: repo

feat/test-branch: Removed the Ruby version (explicit)
  .github/workflows/ruby.yml
Labels: workflowflow_changes

feat/test-branch: Added .ruby-version file
  .ruby-version
Labels: repo

feat/test-branch: Removed other steps from Github actions
  .github/workflows/ruby.yml
Labels: workflowflow_changes
